$color-light: #68eaff;
$color-dark: #020040;
$color-med: #201d75;
$color-accent: #ee00ff;
$color-white: #fff;

$box-border-radius: 16px;
$btn-border-radius: 10px;

$navbar-height: 6.5rem;
$section-height: 100rem;
$polygon-height: calc($section-height * 2);
$content-gap: 2rem;
$max-page-width: 140rem;
$page-margin-large: 10rem;
$page-margin-small: 5rem;
$page-margin-xsmall: 2.5rem;

$fade-in-duration: 0.8s;
