@import '/styles/sass/mixins';

.footerBox {
  height: 13rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
  margin: auto;
  @include screen-tablet-sm {
    flex-direction: column;
    align-items: center;
    height: 20rem;
  }
  .leftContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logoBox {
      width: 27rem;
      height: 3.2rem;
      position: relative;
      .logo {
        object-fit: contain;
      }
    }
    .copyright {
      font-size: 1.4rem;
      filter: opacity(0.75);
      @include screen-tablet-sm {
        text-align: center;
        transform: translateY(10rem);
      }
    }
  }
  .socials {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 5rem;
    .social {
      .iconBox {
        position: relative;
        transition: all 0.2s;
        &:hover {
          filter: opacity(0.75);
        }
      }
    }
  }
}
