@import '/styles/sass/mixins';

.waitlistBox {
  position: relative;
  text-align: center;
  background-image: radial-gradient(
    ellipse,
    rgba($color-light, 0.35) 0%,
    rgba($color-light, 0) 70%
  );
  @include screen-tablet-lg {
    background-image: radial-gradient(
      circle,
      rgba($color-light, 0.35) 0%,
      rgba($color-light, 0) 50%
    );
  }
  @include screen-tablet-sm {
    background-image: radial-gradient(
      circle,
      rgba($color-light, 0.35) 0%,
      rgba($color-light, 0) 40%
    );
    overflow: hidden;
    width: 100vw;
  }
  .groupImage {
    object-fit: contain;
    @include screen-tablet-sm {
      transform: scale(1.5);
    }
  }
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: $section-height / 2.2;
    width: 65%;
    height: 35rem;
    padding: 3rem;
    background-image: linear-gradient(
      to bottom,
      rgba($color-med, 0.95),
      rgba($color-dark, 1)
    );
    border-radius: $box-border-radius;
    border: 1px solid rgba($color-light, 0.5);
    box-shadow: 0 0 15px rgba($color-light, 0.5);
    filter: opacity(0);
    @include fadeInUp;
    @include screen-tablet-lg {
      width: 90%;
    }
    .head {
      font-size: 6rem;
      letter-spacing: 3px;
      text-transform: uppercase;
      @include screen-tablet-sm {
        font-size: 5rem;
        letter-spacing: 1px;
      }
    }
    .subText {
      font-size: 2.5rem;
      line-height: 3.4rem;
      @include screen-tablet-sm {
        font-size: 2.2rem;
        line-height: 3.4rem;
      }
      .part {
        color: $color-light;
      }
    }
  }
}
